<div class="container">
	<h2>Produtos</h2>

	<md-card *ngFor="let product of products" class="col-md-3">
		<md-card-title>
			<a [routerLink]="['/products/detail', product.$key]"  class="col-1-4">{{product.name}}</a>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
			<button md-button (click)="openDialog(product.$key)"><md-icon>delete</md-icon> Remover</button>
			<button md-button [routerLink]="['/products/edit', product.$key]"><md-icon>edit</md-icon> Editar</button>
		</md-card-actions>
	</md-card>

	<a md-fab [routerLink]="['/products/create']" class="fixed-floating-btn"><md-icon>add</md-icon></a>
</div>
