<div class="container">
    <div *ngIf="category">
    <h2>Detalhe da Categoria</h2>
    <md-card>
        <md-card-title>
            <span>{{category.name}}</span>
        </md-card-title>
        <md-card-actions>
            <button md-button (click)="goBack()">
                <md-icon>
                arrow_back
                </md-icon>
                &nbsp;
                Voltar
            </button>
        </md-card-actions>
    </md-card>
    </div>
    <a md-fab [routerLink]="['/categories/edit', category.$key]" class="fixed-floating-btn"><md-icon>edit</md-icon></a>
</div>
